{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">مثال ساده</h3>
        </div>

        <form method="POST" role="form">
          {% csrf_token %}
          <div class="card-body">

            <div class="form-group">
              {{ form.title }}
              {{ form.content }}
            </div>

            <div class="form-check mt-2">
              {{ form.is_active }}
              <label class="form-check-label" for="{{ form.is_active.id_for_label }}">
                دیده شود
              </label>
              {% if form.is_active.errors %}
              <div class="text-danger">{{ form.is_active.errors }}</div>
              {% endif %}
            </div>

          </div>

          <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary px-4">ثبت</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
