{% extends 'templates/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">مثال ساده</h3>
        </div>

        <form method="POST" role="form">
            {% csrf_token %}
            <div class="card-body">

                <div class="form-group">

                    {{form.title }}
                    {{form.content }}
                </div>

                <div class="form-check">
                    {{ form.is_active }}
                    دیده شود
                    {% if form.is_active.errors %}
                        <div class="text-danger">{{ form.is_active.errors }}</div>
                    {% endif %}
                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">ثبت</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
